/**
 * Colors
 */
$primary: #00BAFF;
$secondary: #22292F;
$success: #41D841;
$info: #99FEFF;
$warning: #FFEB3B;
$danger: #F81818;

// Fonts
$font-family-base: 'FreightSans Pro', sans-serif;
$headings-font-family: 'FreightSans Pro', sans-serif;

$headings-color: $secondary;
$paragraphs-color: #777C80;

$swal2-success: $success;
$swal2-success-border: rgba($success, .3);
$swal2-error: $danger;
$swal2-warning: $warning;
$swal2-info: $info;
$swal2-question: $secondary;
$swal2-confirm-button-background-color: $primary;

